In [34]:
import pandas as pd
import numpy as np

**과제1**

In [2]:
url = 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%8D%AC'
dfs =  pd.read_html(url)

In [73]:
dfs[1]

,종류,설명,문법 예
0,str,문자열: 이뮤터블 방식의 일련의 유니코드 코드포인트.,"'Wikipedia'""Wikipedia""""""""Spanningmultiplelines"""""""
1,bytearray,뮤터블(mutable) 방식의 일련의 바이트.,"bytearray(b'Some ASCII')bytearray(b""Some ASCII..."
2,bytes,이뮤터블(immutable) 방식의 일련의 바이트.,"b'Some ASCII'b""Some ASCII""bytes([119, 105, 107..."
3,list,뮤터블(mutable) 방식의 리스트. 혼합 형태를 포함할 수 있다.,"[4.0, 'string', True]"
4,tuple,이뮤터블(immutable) 방식. 혼합 형태를 포함할 수 있다.,"(4.0, 'string', True)"
5,"set, frozenset",순서가 정해지지 않은 집합. 중복 허용 안 함. frozenset은 이뮤터블(imm...,"{4.0, 'string', True}frozenset([4.0, 'string',..."
6,dict,뮤터블(mutable) 방식의 연관 배열의 키와 값 쌍.,"{'key1': 1.0, 3: False}"
7,int,이뮤터블(immutable) 방식의 정수로서 크기는 무제한.,42
8,float,이뮤터블(immutable) 방식의 부동소수점 수 (시스템 정의 정밀도).,3.1415927
9,complex,이뮤터블(immutable) 방식의 복소수. (실수와 허수),3+2.7j
10,bool,이뮤터블(immutable) 방식의 진리값.,TrueFalse

**과제2**

In [25]:
movies = pd.read_csv("pandas_data/movie.csv")
movies.info() #1.1MB의 메모리가 필요

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [44]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [64]:
'''
정수, 실수 형변환
num_critic_for_reviews = float16
duration = float16
director_facebook_likes = float16
actor_3_facebook_likes = float16
actor_1_facebook_likes = float32
gross = float32
num_voted_users = int32
cast_total_facebook_likes = int32
facenumber_in_poster = float16
num_user_for_reviews = float16
budget = float32
title_year = float16
actor_2_facebook_likes = flaot32
imdb_score = float16
aspect_ratio = float16
movie_facebook_likes = int32
'''
movies.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4867.0,1.379889e+02,1.202394e+02,1.00,49.00,108.00,191.00,8.130000e+02
duration,4901.0,1.070908e+02,2.528602e+01,7.00,93.00,103.00,118.00,5.110000e+02
director_facebook_likes,4814.0,6.910145e+02,2.832954e+03,0.00,7.00,48.00,189.75,2.300000e+04
actor_3_facebook_likes,4893.0,6.312763e+02,1.625875e+03,0.00,132.00,366.00,633.00,2.300000e+04
actor_1_facebook_likes,4909.0,6.494488e+03,1.510699e+04,0.00,607.00,982.00,11000.00,6.400000e+05
gross,4054.0,4.764451e+07,6.737255e+07,162.00,5019656.25,25043962.00,61108412.75,7.605058e+08
num_voted_users,4916.0,8.264492e+04,1.383222e+05,5.00,8361.75,33132.50,93772.75,1.689764e+06
cast_total_facebook_likes,4916.0,9.579816e+03,1.816432e+04,0.00,1394.75,3049.00,13616.75,6.567300e+05
facenumber_in_poster,4903.0,1.377320e+00,2.023826e+00,0.00,0.00,1.00,2.00,4.300000e+01
num_user_for_reviews,4895.0,2.676688e+02,3.729348e+02,1.00,64.00,153.00,320.50,5.060000e+03
budget,4432.0,3.654749e+07,1.002427e+08,218.00,6000000.00,19850000.00,43000000.00,4.200000e+09
title_year,4810.0,2.002448e+03,1.245398e+01,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_facebook_likes,4903.0,1.621924e+03,4.011300e+03,0.00,277.00,593.00,912.00,1.370000e+05
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,4590.0,2.222349e+00,1.402940e+00,1.18,1.85,2.35,2.35,1.600000e+01
movie_facebook_likes,4916.0,7.348294e+03,1.920602e+04,0.00,0.00,159.00,2000.00,3.490000e+05

In [69]:
movies2 = pd.read_csv('pandas_data/movie.csv',
                      dtype = {'num_critic_for_review':np.float16,
                                'duration':np.float16,
                                'director_facebook_likes':np.float16,
                                'actor_3_facebook_likes':np.float16,
                                'actor_1_facebook_likes':np.float32,
                                'gross':np.float32,
                                'num_voted_users':np.int32,
                                'cast_total_facebook_likes':np.int32,
                                'facenumber_in_poster':np.float16,
                                'num_user_for_reviews':np.float16,
                                'budget':np.float32,
                                'title_year':np.float16,
                                'actor_2_facebook_likes':np.float32,
                                'imdb_score':np.float16,
                                'aspect_ratio':np.float16,
                                'movie_facebook_likes':np.int32}
                     )

In [72]:
movies2.info() #710.6KB 기존보다 약 65%의 메모리만 사용한다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float16
 4   director_facebook_likes    4814 non-null   float16
 5   actor_3_facebook_likes     4893 non-null   float16
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float32
 8   gross                      4054 non-null   float32
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int32
 13  cast_total_facebook_likes  4916 non-null   int32
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float16
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float16
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float32
 23  title_year                 4810 non-null   float16
 24  actor_2_facebook_likes     4903 non-null   float32
 25  imdb_score                 4916 non-null   float16
 26  aspect_ratio               4590 non-null   float16
 27  movie_facebook_likes       4916 non-null   int32
dtypes: float16(8), float32(4), float64(1), int32(3), object(12)
memory usage: 710.6+ KB

In [84]:
movies2.describe(include = 'O') # color의 unique값은 2개로 binary한 category로 볼 수 있다.

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
count,4897,4814,4903,4916,4909,4916,4893,4764,4916,4904,4911,4616
unique,2,2397,3030,914,2095,4916,3519,4756,4916,47,65,18
top,Color,Steven Spielberg,Morgan Freeman,Drama,Robert De Niro,Avatar,Steve Coogan,based on novel,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,R
freq,4693,26,18,233,48,1,8,4,1,4582,3710,2067

In [86]:
movies3 = pd.read_csv('pandas_data/movie.csv',
                      dtype = {'color':'category',
                               'num_critic_for_review':np.float16,
                                'duration':np.float16,
                                'director_facebook_likes':np.float16,
                                'actor_3_facebook_likes':np.float16,
                                'actor_1_facebook_likes':np.float32,
                                'gross':np.float32,
                                'num_voted_users':np.int32,
                                'cast_total_facebook_likes':np.int32,
                                'facenumber_in_poster':np.float16,
                                'num_user_for_reviews':np.float16,
                                'budget':np.float32,
                                'title_year':np.float16,
                                'actor_2_facebook_likes':np.float32,
                                'imdb_score':np.float16,
                                'aspect_ratio':np.float16,
                                'movie_facebook_likes':np.int32}
                     )

In [88]:
movies3.info() #677.2KB 기존보다 약 60%의 메모리만 사용한다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   category
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float16
 4   director_facebook_likes    4814 non-null   float16
 5   actor_3_facebook_likes     4893 non-null   float16
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float32
 8   gross                      4054 non-null   float32
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int32
 13  cast_total_facebook_likes  4916 non-null   int32
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float16
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float16
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float32
 23  title_year                 4810 non-null   float16
 24  actor_2_facebook_likes     4903 non-null   float32
 25  imdb_score                 4916 non-null   float16
 26  aspect_ratio               4590 non-null   float16
 27  movie_facebook_likes       4916 non-null   int32
dtypes: category(1), float16(8), float32(4), float64(1), int32(3), object(11)
memory usage: 677.2+ KB